<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">Cypher</a>
        <div class="user-info" *ngIf="username">
            Bonjour, {{ username }}
        </div>
        <a href="/admin/dashboard" *ngIf="isAdmin" class="float-end btn btn-sm btn-outline-light">Dashboard</a>
        <button *ngIf="username" (click)="logout()" class="btn btn-sm btn-outline-light">Se déconnecter</button>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <a href="/legal">Mentions légales & confidentialité</a>
      </div>
    </div>
  </div>
</footer>